<div class="container">
  <%= form_with model: @group  do |f| %>
    <div class="mb-3">
      <%= f.text_field :name, placeholder: 'Enter group name', class: 'form-control' %>
    </div>
     <div class="mb-3">
      <%= f.label "Group Icon: ", class:"" %>
      <%= f.select :icon, ["&#xf015".html_safe,"&#xf07a".html_safe,"&#xf1b9".html_safe,
                           "&#xf0fa".html_safe,"&#xf21e".html_safe,"&#xf005".html_safe], 
                           class: 'form-select', selected:"&#xf005".html_safe %>
    </div>
    <div>
      <%= f.submit  class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
