<div class="container">

<p id="notice"><%= notice %></p>

<div class="jumbotron">
<p> Total amount: <%= totalAmount %>$ </p>
 <p> <%= link_to "Most recent", recent_goals_path   %> </p>
  <p> <%= link_to "Most ancient ", goals_path %></p>
</p>
</div>
<h1>Goals</h1>

<table class="table">
  
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col" colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <% if goal.user_id == Current.user.id%>
      <tr scope="row">
        <td><%=link_to goal.name, goal %></td>
        <td><%= goal.amount %>$</td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Goal', new_goal_path ,class:"btn"%>
 
</div>
