<div class="container">

<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <% if goal.user_id == Current.user.id%>
      <tr>
       
        <td><%=link_to goal.name, goal %></td>
        <td><%= goal.amount %></td>
       
   
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Goal', new_goal_path ,class:"btn"%>
 
</div>
